!/converter/8BitUnsigned21BitSample
/converter/8BitUnsigned21BitSample/*
!/converter/8BitUnsigned21BitSample/x64/
!/converter/8BitUnsigned21BitSample/x64/Release
/converter/8BitUnsigned21BitSample/x64/Release/*
!/converter/8BitUnsigned21BitSample/x64/Release/*.exe